footer {
  background-image: img;
  background-color:#fff;
  color:#000;
  padding:1rem;
 }
 
 .bg-footer {
  background-color: #967259; 
  padding: 50px 0 30px;
}
.footer-heading {
  letter-spacing: 2px;
  font-weight: bold;

}

.footer-link a {
  /* color: #acacac; */
  line-height: 40px;
  font-size: 16px;
  transition: all 0.5s;
  color: #fff;

}

.footer-link a:hover {
  color: #1bbc9b;
}

.contact-info {
  color: #fff;
  font-size: 16px;
}

.footer-social-icon {
  font-size: 15px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
}

.facebook {
  background-color: #4e71a8;
  color: #ffffff;
}

.twitter {
  background-color: #55acee;
  color: #ffffff;
}

.google {
  background-color: #d6492f;
  color: #ffffff;
}

.apple {
  background-color: #424041;
  color: #ffffff;
}

.footer-alt {
  color: #acacac;
}

.footer-heading {
  position: relative;
  padding-bottom: 12px;
}

.footer-heading:after {
  content: '';
  width: 38%;
  border-bottom: 1px solid #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #000;
}
h6{
  color: #fff;
  cursor: pointer;
}
#reserve1{
  color: #000;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 22px;
}

hr {
  border: 1px solid black;
  width: 100%;
}