@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
* {
  font-family: "Titillium Web", sans-serif;
  }

  body {
    overflow: hidden;
  }
  
  html {
    overflow: overlay;
  }



#page1{
  background-color: #583424;


}

.navbar .navbar-brand {
  font-size: 40px;
  color: #fff;
  letter-spacing: 2px;

}
.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  font-size: 22px;
  margin-left: 10px;
  color: #fff;
}

.fa-mug-saucer {
  color: #fff;
  font-size: 35px;
  margin-top: 5px;
}
.btn1{
  width: 45%;
    background-color: #000;
  color: #fff;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius:0px 14px;
;  }
  
  .btn1:hover,
  .btn1:focus,
  .btn1.active {

    background: #583424;
    color: #ffffff;
    border-color: #fff;
  }

  